<section>
    <div id="calculadora">
        <h2>Calculadora</h2>
        <hr>
        <div class="form-calculo">
            <form action="" method="post">
                <input list="operators" name="operators" placeholder="insira o operador...">
                <datalist id="operators">
                    <option value="+ (adição)">
                    <option value="- (subtração)">
                    <option value="* (multiplicação)">
                    <option value="/ (divisão)">
                    <option value="% (porcentagem)">
                    <option value="** (potenciação)">
                </datalist>
                <br>
                <br>
                {{inputs}}
                <br>
                <input type="submit" id="answer" name="answer" value="Calcular">
            </form>
            <button id="addInput" onclick="addInput()">Adicionar Input</button>
            <br>
            {{answer}}
        </div>
    </div>
    <div id="sobre">
        <!-- Sobre a calculadora e sobre a API -->
        {{sobre}}
    </div>
    <div id="ajuda">
        <!-- Como usar e como usar a API -->
        {{ajuda}}
    </div>
</section>
