*{
    /* Aligns */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    /* Colors */
    background-color: black;
}

body{
    /* Colors */
    background-image: linear-gradient(to top, #000000, #242433);
}

html, body {
    /* Aligns */
    overflow-x: hidden;

    /* Sizes */
    height: 100%;

    /* Colors */
    color: rgb(0, 0, 48);
}

::selection{
    /* Colors */
    background-color: rgba(0, 0, 0, 0.59);
    color: lime;
}
