a{
    /* Sizes */
    background-size: 0% 3px;
    background-position-x: center;
    background-position-y: bottom;
    background-image: linear-gradient(90deg, red, blue, lime);
    background-repeat: no-repeat;

    /* Colors */
    text-decoration: none;
    color: rgb(11, 0, 60);

    /* Times */
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19) .2s;
}

a:hover{
    /* Sizes */
    background-size: 100% 3px;

    /* Colors */
    color: rgb(181, 181, 255);
}
