footer{
    /* Aligns */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;

    /* Sizes */
    padding: 20px 20%;
    border-top-left-radius: 55px;
    width: 100%;

    /* Colors */
    background-color: rgb(43, 0, 128);
    color: aliceblue;
}
