.rain {
    /* Aligns */
    position: absolute;
    left: 0;
    z-index: 2;

    /* Sizes */
    width: 100%;
    height: 100%;
}

.drop {
    /* Aligns */
    position: absolute;
    bottom: 100%;
    pointer-events: none;
    animation: drop 0.5s linear infinite;

    /* Sizes */
    width: 15px;
    height: 120px;
}

@keyframes drop {
    0% {
        /* Aligns */
        transform: translateY(0vh);
    }
    75% {
        /* Aligns */
        transform: translateY(90vh);
    }
    100% {
        /* Aligns */
        transform: translateY(90vh);
    }
}

.stem {
    /* Aligns */
    margin-left: 7px;
    animation: stem 0.5s linear infinite;

    /* Sizes */
    width: 1px;
    height: 60%;

    /* Colors */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
}

@keyframes stem {
    0% {
        /* Aligns */
        opacity: 1;
    }
    65% {
        /* Aligns */
        opacity: 1;
    }
    75% {
        /* Aligns */
        opacity: 0;
    }
    100% {
        /* Aligns */
        opacity: 0;
    }
}
